**.bak
# Ignore all pyc files in the Django project
*.pyc
.*.swp
.*.swo
.ropeproject
.vs
.pyconsole.history
*.zip
venv
CvGameCoreDLL.sdf
PB Mod_v9/PB Mod_*.ini
tests/sdk/setup_dll_build_with_wine.config
tests/sdk/.*
